#container {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-template-rows: 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    "chat chat userlist userlist"
    "command messagebox send attach";
}

#chat { grid-area: chat; }

#userlist { grid-area: userlist; }

#messagebox { grid-area: messagebox; }

#send { grid-area: send; }
#attach { grid-area: attach; }
#command { grid-area: command; }

.b {
  display: block;
}

.fence {
  box-sizing: border-box;
}